<div class="bodyProfileEdit">
        <nav class="navbar">
                <h1 class="brandName">SuperheroForHire</h1>
                <a href="/auth/pro/logout"><button class="pro-button" type="submit">Log out</button></a>
        </nav>
        <div class="proForm">
                <h1 class="title">Edit your Profile</h1>

                <form class="proFormInput" method="POST"
                        action="/auth/client/client-profile-edit/<%=client.id%>?_method=PUT">
                        <label class="formInput">First Name:<input required type="text" name="firstname"
                                        placeholder="First Name" value="<%= client.firstname%>" /></label>
                        <label class="formInput">Last Name:<input required type="text" name="lastname"
                                        placeholder="Last Name" value="<%= client.lastname%>" /></label>
                        <label class="formInput">Email:<input required type="email" name="email" placeholder="Email"
                                        value="<%= client.email%>" /></label>
                        <label class="formInput">City:<input required type="text" name="city" placeholder="city"
                                        value="<%= client.city%>" /></label>
                        <label class="formInput">Postalcode: <input required type="text" name="postalcode"
                                        placeholder="Postalcode" value="<%= client.postalcode%>" /></label>
                        <label class="formInput">Phone Number: <input required type="text" name="phone"
                                        placeholder="Phone Number" value="<%= client.phone%>" /></label>
                        <br>
                        <br>
                        <button class="pro-button">Update</button>
                </form>
        </div>
</div>