<div class="client-search-page content">
    <nav class="navbar">
        <div>
            <h3 class="brandName">We are here to make your life easier!</h3>
        </div>
        <div>
            <a href="/auth/client/client-search/<%=client._id%>"><button class="pro-button">Search
                    again</button></a>
            <a href="/auth/client/logout"><button class="pro-button" type="submit">Log out</button></a>
        </div>
    </nav>
    <div>
        <h2 class="title">Search results</h2>
    </div>
    <div class="searchResults">


        <% professional.forEach(professional=> { %>
            <div class="card">
                <div class="firstinfo">
                    <img class="userImg" src=<%=professional.image%>>
                </div>
                <div class="profileinfo">
                    <h2 class="names">
                        <%= professional.firstname %>
                            <%=professional.lastname %>
                    </h2>
                    <h3 class="extraInf">
                        <%= professional.city %>, <%= professional.postalcode %>
                    </h3>
                    <h3 class="extraInf">
                        <%= professional.services %>
                    </h3>
                    <h3 class="extraInf">
                        Hourly rate:  <%= professional.price %>€
                    </h3>
                </div>
                <div><a href="/auth/client/booking-confirmation"><button class="button-24"
                            type="submit">Book</button></a></div>
            </div>
            <% }) %>

    </div>
</div>