<div class="bodyProSignUpForm">
    <div class="brandImg2">
        <img src="/images/Logo.png">
    </div>
    <div class="proForm">
        <h1 class="title">Superhero Signup</h1>
        <form class="proFormInput" action="/auth/pro/pro-signup" method="post" enctype="multipart/form-data">
            <input type="file" name="imageUrl" accept="image/png, image/jpg">
            <label class="formInput">First Name:</label>
            <input type="text" name="firstname" required value="<%= proBody.firstname %>"/>
            <label class="formInput">Last Name:</label>
            <input type="text" name="lastname" required value="<%= proBody.lastname %>" />
            <label class="formInput">Email:</label>
            <input type="email" name="email" required value="<%= proBody.email %>" />
            <label class="formInput">Password: </label>
            <input type="password" name="password" required value="<%= proBody.password %>" />
            <label class="formInput">City: </label>
            <input type="text" name="city" required value="<%= proBody.city %>" />
            <label class="formInput">Postalcode: </label>
            <input type="text" name="postalcode" required value="<%= proBody.postalcode %>"  />
            <label class="formInput">Phone Number: </label>
            <input type="text" name="phone" required value="<%= proBody.phone %>" />
            <label class="formInput">Price per hour: </label>
            <input type="text" name="price" placeholder="Hourly rate" required  value="<%proBody.price %>"/>
            <label class="formInput">Service Offered: </label>
            <select class="formInput" name="services" id="services">
                <option class="proFormListOpt" value="null">Choose a service</option>
                <option class="proFormListOpt" value="Babysitter">Babysitter</option>
                <option class="proFormListOpt" value="Dogsitter">Dogsitter</option>
                <option class="proFormListOpt" value="Hairstylist"> Hairstylist</option>
                <option class="proFormListOpt" value="House Cleaning"> House Cleaning</option>
                <option class="proFormListOpt" value="Landscaping">Landscaping</option>
                <option class="proFormListOpt" value="Massage Therapy"> Massage Therapy</option>
                <option class="proFormListOpt" value="Personal Trainer">Personal Trainer</option>
            </select>
            <br>
            <br>
            <button class="pro-button" type="submit">Signup</button>
        </form>
    </div>
</div>

<% if (typeof errorMessage !=='undefined' ) { %>
    <p style="color: red">
        <%= errorMessage %>
    </p>
    <% } %>