<div class="bodyProfileEdit">
        <nav class="navbar">
                <h1 class="brandName">SuperheroForHire</h1>
                <a href="/auth/pro/logout"><button class="pro-button" type="submit">Log out</button></a>
        </nav>
        <div class="proForm">
                <h1 class="title">Edit your Profile</h1>

                <form class="proFormInput" method="POST"
                        action="/auth/pro/pro-profile-edit/<%=professional.id%>?_method=PUT">
                        <label class="formInput">First Name: </label><input required type="text" name="firstname"
                                placeholder="First Name" value="<%= professional.firstname%>" />
                        <label class="formInput">Last Name: </label><input required type="text" name="lastname"
                                placeholder="Last Name" value="<%= professional.lastname%>" />
                        <label class="formInput">Email: </label><input required type="email" name="email"
                                placeholder="Email" value="<%= professional.email%>" />
                        <label class="formInput">City: </label><input required type="text" name="city"
                                placeholder="city" value="<%= professional.city%>" />
                        <label class="formInput">Postalcode: </label><input required type="text" name="postalcode"
                                placeholder="Postalcode" value="<%= professional.postalcode%>" />
                        <label class="formInput">Phone Number: </label><input required type="text" name="phone"
                                placeholder="Phone Number" value="<%= professional.phone%>" />
                        <label class="formInput">Price: </label><input required type="text" name="price"
                                placeholder="Price" value="<%= professional.price%>" />
                        <label class="formInput" for="services">Service Offered:</label>
                        <select class="formInput" name="services" id="services" required>
                                <option value="null">Choose a service</option>
                                <option value="Babysitter">Babysitter</option>
                                <option value="Dogsitter">Dogsitter</option>
                                <option value="Hairstylist"> Hairstylist</option>
                                <option value="House Cleaning"> House Cleaning</option>
                                <option value="Landscaping">Landscaping</option>
                                <option value="Massage Therapy"> Massage Therapy</option>
                                <option value="Personal Trainer">Personal Trainer</option>
                        </select>
                        <br>
                        <br>
                        <button class="pro-button">Update</button>
                </form>
        </div>
</div>